---
name: test-linux-only
on:
  push:
#    tags-ignore:
#      - v*
jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install
        run:  uv sync --no-sources --all-extras --locked

      - name: Test
        run: uv run --no-sources poe test
        timeout-minutes: 7

      - name: Test (Debug)
        run: uv run --no-sources poe debug-test
        timeout-minutes: 20
